html{
    margin: 0;
    width: 100%;
    height: 100%;
}

body{
    background-color: bisque;
    width: 100%;
    height: 100%;
}

h1{
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px;
    display: flex;
    background-color: rgb(240, 118, 118);
}

.botao{
    background-color: transparent;
    border: 30px;
    font-weight: bold;
}

.botao:hover{
    background-color: rgb(241, 194, 179);
    cursor: pointer;
}

.barra-vertical{
    width: 1px;
    height: 30px;
    background-color: #000;
    margin-right: 10px;
    margin-left: 10px;
}

h2{
    background-image: url(https://images.wallpaperscraft.com/image/single/city_aerial_view_road_156925_3840x2160.jpg);
    height: 230px;
    width: 100%;
    background-position: center;
    border-top: 1px;
    background-size: cover;
    position: relative;
}
.container {
    display: flex;
}

.texto-apresentacao {
    flex: 1;
    padding: 20px;
    width: 50%;
    justify-content: center;
    align-items: center;
}

.botoes-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.linha-botoes {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 20px;
}

.botao2 {
    text-align: center;
    margin: 10px;
    background-color: rgb(240, 118, 118);
    justify-content: center;
    font-weight: bold;
}

.botoes-container p{
    align-items: center;
}

.botao2 img {
    width: 100px;
    height: 100px;
    margin-bottom: 0px;
}

.botao2 p {
    align-items: center;
}

footer{
    width: 100%;
    height: 70px;
    background-color: rgb(240, 118, 118);
    border-bottom: 0px;
}